import(XML,odesolve)
export(readSBML,readSBMLR,saveSBML,saveSBMLR,simulate, sobolset,sobol_sim, prcc_compute, load_simulate, load_simulate_sensitivity)
S3method(summary, SBML)
S3method(Ops, SBML)
